//颜色变量
$background_white : #fff;
$header_background : #becdd9;
$header_nav_focus: #ffb450;
$background_blue: #414966;
$header_nav_active: #596db3;
$know_yuewen_active:#919ed9;
$background_gray: #f7f8fc;
$footer_background: #8d91a3;
$copy_background: #34394d;
