$background_color : #f9fafb;
$background_prize:#bf2425;
$prize_button_background_color:#fff;
$prize_font_color:#fff;
$border_color:#000;
$prize_record_color:#cb4142;
$prize_rules_font_color:#828282;
$cross:#ae9774;