<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    </head>
    <body>
        <!-- 页面最上层容器 -->
        <div id="page" class="page">
            <!-- header -->
            <div id="header" class="header">
                <div class="header-bg">
                    <div class="header-bg-in">
                        <!-- 图标 -->
                        <a class="header-logo" onclick="togglePage('home')"></a>
                        <!-- 导航 -->
                        <div class="header-nav">
                            <a id="header-nav-description" onclick="togglePage('description')">
                                合作说明
                                <span id="slider-active" class="slider"></span>
                            </a>
                            <a href="">在线文档</a>
                            <a href="" class="logging">登录</a>
                        </div>
                    </div>
                </div>
                <div id="header-wrap" class="header-wrap"></div>
            </div>
            <!-- 内容 -->
            <div class="content">
                <!-- 首页 -->
                <div id="home" class="home">
                    <!-- slider -->
                    <div class="slider">
                        <div class="slider-bg">
                            <div class="slider-text">
                                <h2>打造阅读新生态</h2>
                                <p>
                                    内容、计费、用户能力全面开放
                                    <br/>
                                    标准接口快速接入，让合作产品快速拓展阅读业务
                                </p>
                            </div>
                            <p class="slider-bg-more">
                                了解更多
                                <i></i>
                            </p>
                        </div>
                    </div>
                    <!-- 关于 -->
                    <div class="about">
                        <div class="about-bg">
                            <div class="about-bg-left">
                                <div></div>
                            </div>
                            <div class="about-bg-right">
                                <div>
                                    <h3>关于阅文开放平台</h3>
                                    <i class="big-rectangle"></i>
                                    <p>
                                        专业运营保障精准推荐，海量书库提供丰富选
                                        <br/>
                                        择，书架便捷管理，为读者提供完善的阅读服务
                                        <br/>
                                        和优质的阅读体验
                                    </p>
                                    <a href="" class="about-yuewen-link">
                                        了解阅文集团
                                        <i></i>
                                    </a>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <!-- 功能模块 -->
                    <div class="features">
                        <div class="features-bg">
                            <div class="features-bg-in">
                                <ul>
                                    <li>
                                        <i class="features-bg-cool"></i>
                                        <h3>海量内容</h3>
                                        <p>
                                            400万创作者，1000万作品，为合作方
                                            <br/>
                                            提供最全最优质的IP资源。
                                        </p>
                                        <i class="small-rectangle"></i>
                                    </li>
                                    <li>
                                        <i class="features-bg-target"></i>
                                        <h3>精准运营</h3>
                                        <p>
                                            专业的运营团队，针对合作方受众，提供
                                            <br/>
                                            个性化运营策略。
                                        </p>
                                        <i class="small-rectangle"></i>
                                    </li>
                                    <li>
                                        <i class="features-bg-open"></i>
                                        <h3>计费开放</h3>
                                        <p>
                                            实现合作方产品账户虚拟币到云纹虚拟币
                                            <br/>
                                            转化，拓展合作方增值业务场景。
                                        </p>
                                        <i class="small-rectangle"></i>
                                    </li>
                                    <li>
                                        <i class="features-bg-balance"></i>
                                        <h3>便捷结算</h3>
                                        <p>
                                            记录每一笔充值流水，为合作方提供清晰
                                            <br/>
                                            的结算明细。
                                        </p>
                                        <i class="small-rectangle"></i>
                                    </li>
                                    <li>
                                        <i class="features-bg-user"></i>
                                        <h3>用户互通</h3>
                                        <p>
                                            打通合作方用户体系，无需二次登录，支
                                            <br/>
                                            持用户无感知使用阅文的产品
                                        </p>
                                        <i class="small-rectangle"></i>
                                    </li>
                                    <li>
                                        <i class="features-bg-billing"></i>
                                        <h3>更多功能</h3>
                                        <p>
                                            敬请期待....
                                            <br/>
                                            <br/>
                                        </p>
                                        <i class="small-rectangle"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 合作商 -->
                    <div class="brands">
                        <div class="brands-bg">
                            <div class="brands-bg-in">
                            <ul>
                                <li>
                                    <i class="brands-bg-amazon"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-xiaomi"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-jd"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-baidu"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-meizu"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-oppo"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-mobile"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-telecom"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-sohu"></i>
                                </li>
                                <li>
                                    <i class="brands-bg-sogou"></i>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 说明 -->
                <div id="description" class="description" style="display:none;">
                    <div class="slider">
                        <div class="slider-bg">
                            <h2>阅文开放平台</h2>
                            <p>
                                阅文开放平台基于阅文集团的海量内容，整合强大的技术和
                                <br/>
                                资源对接合作方，帮助合作方拓展阅读消费场景，增强用户
                                <br/>
                                粘性，增加产品收益
                            </p>
                            <a href="" style="display:none;"></a>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process-bg">
                            <div class="process-bg-in">
                                <ul>
                                    <li style="width: 450px;">
                                        <i class="process-icon-contact"></i>
                                        <h3>01. <span class="bold-title">联系阅文商务</span></h3>
                                        <p>
                                            若有合作意愿，请发送邮件至
                                            <span class="underline-span"> bussiness@yuewen.com </span>联
                                            <br/>
                                            系我们，邮件内容请务必包含以下信息：
                                            <span class="bold-span">公司名称、公司</span>
                                            <br/>
                                            <span class="bold-span">驻所、主营业务、所属行业、联系人姓名、联系电话。</span>
                                            <br/>
                                            &nbsp
                                            </p>
                                    </li>
                                    <li>
                                        <i class="process-icon-signup"></i>
                                        <h3 href="">02. <span class="bold-title">注册申请成为合作伙伴</span></h3>
                                        <p>
                                            邮件发送后，阅文将有专人与您联系。在与阅文商务达成
                                            <br/>
                                            合作意向并签订合作协议后，通过阅文商务可获取邀请
                                            <br/>
                                            码，您可以在开放平台注册账号并填写邀请码、公司信息
                                            <br/>
                                            等相关信息后提交申请
                                        </p>
                                    </li>
                                    <li style="width: 450px;">
                                        <i class="process-icon-approve"></i>
                                        <h3 href="">03. <span class="bold-title">审批通过，阅文接口开放</span></h3>
                                        <p>
                                            阅文对合作方提交的信息进行审核，合作方将在提交申请
                                            <br/>
                                            后的5个工作日内收到审核结果，若审核通过则可以登录
                                            <br/>
                                            阅文开放平台。同时，阅文开放标准接口，双方进行联调
                                            <br/>
                                            开发。
                                        </p>
                                    </li>
                                    <li>
                                        <i href="" class="process-icon-takeoff"></i>
                                        <h3 href="">04. <span class="bold-title">合作产品上线</span></h3>
                                        <p>
                                            双方接口联调完成，合作产品上线，上线后合作方平台管
                                            <br/>
                                            理员可以通过开放平台终端用户信息进行查看和管理
                                            <br/>
                                            &nbsp
                                            <br/>
                                            &nbsp
                                        </p>
                                    </li>
                                    <div style="clear:both;"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div class="footer">
                <div class="footer-bg">
                    <div class="footer-bg-in">
                        <h3>阅文旗下品牌</h3>
                        <ul>
                            <li><a href="http://www.qidian.com/" target="_blank">起点中文网</a></li>
                            <li><a href="http://yunqi.qq.com/" target="_blank">云起书院</a></li>
                            <li><a href="http://www.hongxiu.com/" target="_blank">红袖添香</a></li>
                            <li><a href="http://www.tingbook.com/" target="_blank">天方听书网</a></li>
                            <li><a href="http://www.yuewen.com/app.html#appqq" target="_blank">QQ阅读</a></li>
                            <li><a href="http://www.qdmm.com/" target="_blank">起点女生网</a></li>
                            <li><a href="https://www.readnovel.com/" target="_blank">小说阅读网</a></li>
                            <li><a href="http://www.xs8.cn/" target="_blank">言情小说吧</a></li>
                            <li><a href="http://www.lrts.me/" target="_blank">懒人听书</a></li>
                            <li><a href="http://www.yuewen.com/app.html#appqd" target="_blank">起点读书</a></li>
                            <li><a href="http://chuangshi.qq.com/" target="_blank">创世中文网</a></li>
                            <li><a href="https://www.webnovel.com/" target="_blank">起点海外版</a></li>
                            <li><a href="http://www.xxsy.net/" target="_blank">潇湘书院</a></li>
                            <li><a href="http://yuedu.yuewen.com/" target="_blank">阅文阅读</a></li>
                            <li><a href="http://www.yuewen.com/app.html#appzj" target="_blank">作家助手</a></li>
                        </ul>
                        <div class="footer-others">
                            <h3>其他</h3>
                            <ul>
                                <li><a href="http://www.yuewen.com/" target="_blank">关于阅文</a></li>
                                <li><a onclick="togglePage('description')">联系我们</a></li>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="footer-copy-bg">
                        <p class="footer-copy-logo">
                            Copyright
                            ©
                            <script>document.write((new Date).getFullYear())</script> 阅文
                        </p>
                        <p class="footer-copy-others">
                            沪 B2-20080046-23
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>