* {
  box-sizing: border-box; }

body,
p,
pre,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  tap-highlight-color: transparent; }

html {
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical; }

body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif; }

a {
  text-decoration: none;
  color: #000;
  user-select: none;
  tap-highlight-color: transparent; }

a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none; }

img {
  interpolation-mode: bicubic;
  border: 0; }

ul {
  padding: 0;
  margin: 0px;
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: 0px; }

body {
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }
