@import "reset.scss";
body {
    overflow: hidden;
    height: 100%;
    .page {
        .container {
            .home {
                .home-in {
                    width: 100%;
                    .left-side {
                        width: 50%;
                        height: 100%;
                        float: left;
                        overflow: auto;
                        ul {
                            li {
                                height: 200px;
                            }
                        }
                    }
                    .right-side {
                        width: 50%;
                        height: 100%;
                        float: right;
                        overflow: auto;
                        ul {
                            li {
                                height: 200px;
                            }
                        }
                    }
                    @each $member in 1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14 {
                        .image-#{$member} {
                            height: 200px;
                            background-image: url(../images/image_#{$member}.jpg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
            .tips {
                position: absolute;
                bottom: 2%;
                text-align: center;
                background: rgba(0, 0, 0, 0.7);
                z-index: 1;
                width: 6rem;
                margin: auto;
                left: 0;
                right: 0;
                border-radius: 0.3rem;
                h2 {
                    color: #fff;
                    font-size: 0.4rem;
                    padding: 0.1rem;
                }
                p {
                    color: #fff;
                    font-size: 0.3rem;
                    padding: 0.1rem;
                    a {
                        color: #fff;
                        display: inline-block;
                        text-decoration: underline;
                        font-size: 0.4rem;
                        padding: 0.05rem
                    }

                    @keyframes big_and_small{
                        0%,100%{
                            font-size:0.5rem;
                            font-weight: bold;
                            color: #f00;
                        }
                        50%{
                            font-size: 0.4rem;
                            font-weight: 200;
                            color: #fff;
                        }
                    }

                    .focus{
                        animation: big_and_small 1.5s infinite linear;
                    }
                }
            }
        }
        .imageLayer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: none;
            .imageDisplay {
                position: relative;
                width: 5rem;
                height: 7rem;
                margin: auto;
                background-image: url(../images/image_1.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                top: 5%;
            }
            .imageTips {
                background: rgba(0, 0, 0, 0.9);
                text-align: center;
                position: fixed;
                bottom: 1rem;
                left: 0;
                right: 0;
                width: 100%;
                margin: auto;
                p {
                    color: #fff;
                    font-weight: bold;
                    font-size: 0.35rem;
                    padding: 0.1rem 0;

                    span{
                        color:#7ae212;
                    }
                }
            }
        }
    }
}